@use "$shared/ui/styles/fonts";
@use "$shared/ui/styles/colors";

* {
	padding: 0;
}


body {
	overflow-x: clip;
	display: flex;
	flex-direction: column;

	min-height: 100vh;
	margin: 0;

  font-family: "Nunito";
  color: colors.$text;

	white-space: pre-line;
}

#app {
	display: flex;
	flex-direction: column;
	flex-grow: 1;

	width: 100%;
	min-height: 100%;
	margin: 0 auto;
}

ul,
ol {
	list-style-type: none;
}

