$black-900: #121212;

$grey-500: #b4b4b4;

$green-500: #559755;

$red-500: #fc1c1c;


$yellow-500: #f3f393;
$yellow-700:#f7f762;
$yellow-800:#f8f821;

$purple-500: #9321f0;
$purple-700:#541885;
$purple-800:#2e0e47;

$white: #fff;

$text: $black-900;

$primary: $purple-500;
$primary-hover:$purple-700;
$primary-active:$purple-800;


$secondary:$yellow-500;
$secondary-hover:$yellow-700;
$secondary-active:$yellow-800;

$on-primary:$white;

$success: $green-500;

$error: $red-500;
